---
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import InterstitialAd from "../../../components/InterstitialAd.astro";
import "../../../styles/blog.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テスト記事2</title>
  </head>
  <Header  />
  <InterstitialAd  />
  
  <body>
    <main>
      <article>
        <h1>テスト記事のタイトル2</h1>
        <p>ここに本文を書きます。ここが無料です2</p>
        <p>テス2ト</p>

        <script src="https://codoc.jp/js/cms.js" data-css="rainbow-square" data-usercode="2IdkeF1xQw" charset="UTF-8" defer></script>
 <div id="codoc-entry-9sEDxxQr1w" class="codoc-entries" >この続きはcodocで購読!</div>
        <div id="codoc-entry-RwTd0fZTww" class="codoc-entries">有料記事2</div>
        <div id="codoc-subscription-ICp50nXzZw" class="codoc-subscriptions"></div>
    </main>
  </body>

        <Footer />
        <script src="/js/header.js" type="module"></script>
    </body>
</html>