---
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import InterstitialAd from "../../../components/InterstitialAd.astro";
import "../../../styles/blog.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テスト記事</title>
  </head>
  <Header  />
  <InterstitialAd  />
  
  <body>
    <main>
      <article>
        <h1>テスト記事のタイトル</h1>
        <p>ここに本文を書きます。ここが無料です</p>
        <p>テスト</p>
 
      
<script src="https://codoc.jp/js/cms.js" data-css="rainbow-square" data-usercode="2IdkeF1xQw" charset="UTF-8" defer></script>
 <div id="codoc-entry-RwTd0fZTww" class="codoc-entries" >有料記事</div>
    </main>
  </body>

        <Footer />
        <script src="/js/header.js" type="module"></script>
    </body>
</html>