---
import Analytics from "@vercel/analytics/astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Blog_amuse from "../../components/Blog_amuse.astro";
import Blog_poker from "../../components/Blog_poker.astro";

import InterstitialAd from "../../components/InterstitialAd.astro";
import AdSectionVIP_1 from "../../components/AdSectionVIP_1.astro";
import AdSectionVIP_2 from "../../components/AdSectionVIP_2.astro";
import AdSection1 from "../../components/AdSection1.astro";
import AdSection2 from "../../components/AdSection2.astro";
import AdSection3 from "../../components/AdSection3.astro";
import AdSection4 from "../../components/AdSection4.astro";
import AdSection5 from "../../components/AdSection5.astro";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OKIPOKA ブログ(製作中)</title>
    <link rel="stylesheet" href="/styles/blog.css" />
  </head>
  <body>
    <Header />
    <InterstitialAd />

    <div class="store-page-wrapper blog-wrapper">
      <main>
        <!-- タイトルセクション（画像に差し替え可） -->
        <section class="top-section">
          <h2>OKIPOKA ブログ</h2>
        </section>

        <div class="ad-wrapper">
          <span class="ad-label center-top" style="font-size:0.68rem; top:6px;"
            >広告</span
          >
          <AdSectionVIP_2 />
        </div>
        <div style="height: .6rem;"></div>

        <!-- 記事一覧 -->
        <h3 class="blog-section__title">お知らせ・最新情報</h3>
        <p class="intro-text">
          沖縄のアミューズメント店舗からの告知や求人情報、大会・イベントに関する最新のお知らせを掲載しています。
        </p>
        <Blog_amuse />

                <div class="ad-wrapper">
          <span class="ad-label center-top" style="font-size:0.68rem; top:6px;"
            >広告</span
          >
          <AdSectionVIP_1 />
        </div>

        <h3 class="blog-section__title">ポーカーコラム(準備中)</h3>
        <p class="intro-text">
          趣味としてポーカーを楽しむ運営担当の雑記。正確な情報の掲載に努めていますが、記載内容の正確性を保証するものではありません。
        </p>
        <Blog_poker />

        <div style="height: .6rem;"></div>
      </main>
    </div>

    <Footer />
    <Analytics />

    <script src="/js/header.js" type="module"></script>
  </body>
</html>
