
---
import Header from '../..//components/Header.astro';
import Footer from '../..//components/Footer.astro';
import "../../styles/blog.css";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テスト記事</title>
  </head>
  <Header  />
  <body>
    <main>
      <article>
        <h1>テスト記事のタイトル</h1>
        <p>ここに本文を書きます。</p>
      </article>
    </main>
  </body>

        <Footer />
        <script src="/js/header.js" type="module"></script>
    </body>
</html>