---
import adList from '../assets/adList.json';
const vip2 = adList.vip2;
const randomIndex = Math.floor(Math.random() * vip2.length);
const ad = vip2[randomIndex];
---

<a href={ad.link} target="_blank" rel="noopener noreferrer">
  <img src={ad.image} alt="VIPスポンサー広告" />
</a>