---
import adList from '../assets/adList.json';
const standard7 = adList.standard7;
const randomIndex = Math.floor(Math.random() * standard7.length);
const ad = standard7[randomIndex];
---

<a href={ad.link} target="_blank" rel="noopener noreferrer">
  <img src={ad.image} alt="スポンサー広告" style="width: 100%; max-width: 650px; margin: auto; display: block;" />
</a>