---
import "../styles/blog.css";
---
<!-- ===== Blog Amuse Section START ===== -->
<section class="top-section blog-section blog-section--others">
  <div class="blog-list grid-layout">

    <!-- Article Card START -->
    <article class="ad-card">
      <a href="/BLOG/amuse/sample-amuse">
        <img src="/images/okipoka_image.png" loading="lazy" />
      </a>
      <div class="card-body">
        <h3 class="title">テスト記事</h3>
        <div class="date">2025-08-22</div>
        <div class="readmore">
          <a class="top-link" href="/BLOG/amuse/sample-amuse">読む</a>
        </div>
      </div>
    </article>
    <!-- Article Card END -->

    <!-- Article Card START -->
    <article class="ad-card">
      <a href="/BLOG/amuse/sample-amuse">
        <img src="/images/okipoka_image.png" loading="lazy" />
      </a>
      <div class="card-body">
        <h3 class="title">テスト記事</h3>
        <div class="date">2025-08-22</div>
        <div class="readmore">
          <a class="top-link" href="/BLOG/amuse/sample-amuse">読む</a>
        </div>
      </div>
    </article>
    <!-- Article Card END -->

    <!-- Article Card START -->
    <article class="ad-card">
      <a href="/BLOG/amuse/sample-amuse">
        <img src="/images/okipoka_image.png" loading="lazy" />
      </a>
      <div class="card-body">
        <h3 class="title">テスト記事</h3>
        <div class="date">2025-08-22</div>
        <div class="readmore">
          <a class="top-link" href="/BLOG/amuse/sample-amuse">読む</a>
        </div>
      </div>
    </article>
    <!-- Article Card END -->

    <!-- Article Card START -->
    <article class="ad-card">
      <a href="/BLOG/amuse/sample-amuse">
        <img src="/images/okipoka_image.png" loading="lazy" />
      </a>
      <div class="card-body">
        <h3 class="title">テスト記事</h3>
        <div class="date">2025-08-22</div>
        <div class="readmore">
          <a class="top-link" href="/BLOG/amuse/sample-amuse">読む</a>
        </div>
      </div>
    </article>
    <!-- Article Card END -->

    <!-- Article Card START -->
    <article class="ad-card">
      <a href="/BLOG/amuse/sample-amuse">
        <img src="/images/okipoka_image.png" loading="lazy" />
      </a>
      <div class="card-body">
        <h3 class="title">テスト記事</h3>
        <div class="date">2025-08-22</div>
        <div class="readmore">
          <a class="top-link" href="/BLOG/amuse/sample-amuse">読む</a>
        </div>
      </div>
    </article>
    <!-- Article Card END -->










  </div>
</section>
