---
import "../styles/blog.css";
---

<!-- ===== Blog Poker Section START ===== -->
<section class="top-section blog-section blog-section--poker">
          <div class="blog-list grid-layout">
            
            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/what-is-texas-holdem">
                <img src="/blog_images/tekisasukiji.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テキサスホールデムとは？</h3>
                <div class="date">2025-08-23</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/what-is-texas-holdem">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->


          </div>
        </section>