---
import "../styles/blog.css";
---

<!-- ===== Blog Poker Section START ===== -->
<section class="top-section blog-section blog-section--poker">
          <div class="blog-list grid-layout">
            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/sample-poker">
                <img src="/images/okipoka_image.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テスト記事</h3>
                <div class="date">2025-08-20</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/sample-poker">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->

            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/sample-poker">
                <img src="/images/okipoka_image.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テスト記事</h3>
                <div class="date">2025-08-20</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/sample-poker">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->

            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/sample-poker">
                <img src="/images/okipoka_image.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テスト記事</h3>
                <div class="date">2025-08-20</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/sample-poker">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->

            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/sample-poker">
                <img src="/images/okipoka_image.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テスト記事</h3>
                <div class="date">2025-08-20</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/sample-poker">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->

            <!-- Article Card START -->
            <article class="ad-card">
              <a href="/BLOG/poker/sample-poker">
                <img src="/images/okipoka_image.png" loading="lazy" />
              </a>
              <div class="card-body">
                <h3 class="title">テスト記事</h3>
                <div class="date">2025-08-20</div>
                <div class="readmore">
                  <a class="top-link" href="/BLOG/poker/sample-poker">読む</a>
                </div>
              </div>
            </article>
            <!-- Article Card END -->

          </div>
        </section>