---
// src/components/Footer.astro
---
<footer class="site-footer">
  <p>© 2025 OKIPOKA</p>
  <p class="footer-contact">
    お問い合わせ: <a href="mailto:okipoka.jp@gmail.com">okipoka.jp@gmail.com</a>
  </p>
</footer>