---
import "../styles/header_footer.css";
import "../styles/mainstyle.css";
---

    <header>
        <a href="/"><img src="/images/logo2.png" alt="OKIPOKA" class="logo"></a>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav id="navMenu" class="nav-menu">
            <ul class="nav-list">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">このサイトについて</a></li>
                <li><a href="/tournaments/tournaments">本日のトーナメント情報</a></li>
                <li><a href="/sponsor">スポンサー</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/tournaments/login">店舗専用ログイン</a></li>
            </ul>
        </nav>
    </header>