---
const title = "ポーカー戦略：3ベットの基本";
const date = "2025-08-20";
---

<article class="blog-article">
  <h1>{title}</h1>
  <time datetime={date}>{date}</time>
  <p>キャッシュゲームにおける3ベットの考え方と、よくあるミスを解説します。</p>
</article>