            <a href="/blog/free/pot-odds" class="blog-thumb" data-title="ポットオッズの基本" data-author="Ryusei" data-tags="戦略 数学 初心者">
                <img src="images/PotOdds.png">
                <p>ポットオッズの基本</p>
            </a>

            <a href="blog/free/mdf" class="blog-thumb" data-title="MDF" data-author="Ryusei" data-tags="戦略 数学 初心者">
                <img src="images/mdf.png" >
                <p>MDF</p>
            </a>

                        <a href="blog/free/alpha" class="blog-thumb" data-title="MDF" data-author="Ryusei" data-tags="戦略 数学 初心者">
                <img src="images/alpha.png">
                <p>アルファ (α)</p>
            </a>