           <a href="/blog/paid/test" class="blog-thumb" data-title="テスト" data-author="Ryusei" data-tags="戦略 有料">
                <img src="images/sample.png">
                <p>テスト</p>
            </a>

            <a href="/blog/free/pot-odds" class="blog-thumb" data-title="ポットオッズの基本" data-author="Ryusei" data-tags="戦略 数学 初心者">
                <img src="images/sample.png">
                <p>ポットオッズの基本</p>
            </a>

            <a href="blog/free/mdf" class="blog-thumb" data-title="MDF" data-author="Ryusei" data-tags="戦略 数学 初心者">
                <img src="images/sample.png" alt="ブログ記事3">
                <p>MDF</p>
            </a>

            <a href="/blog/paid/test2" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事4">
                <p>テスト記事2</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事5">
                <p>タイトル</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事6">
                <p>タイトル</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事7">
                <p>タイトル</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事8">
                <p>タイトル</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事9">
                <p>タイトル</p>
            </a>

            <a href="blog2.html" class="blog-thumb" data-title="タイトル" data-author="不明" data-tags="その他">
                <img src="images/sample.png" alt="ブログ記事10">
                <p>タイトルああ</p>
            </a>