---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import InterstitialAd from "../../components/InterstitialAd.astro";
import "../../styles/stores.css";
---

<!doctype html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
        rel="stylesheet"
    />
    <title>OKIPOKA|GUTSHOT</title>
</head>

<Header />
<InterstitialAd />

<section class="store-detail">
  <div class="store-header">
    <h2>GUTSHOT（ガットショット）</h2><br>
    <p>8月中旬オープン</p>
    <img src="/images/gutshot.png" class="store-image" />
  </div>

    <div class="store-note">
    <p>※このページの詳細情報は後ほど追加されます。お楽しみに！</p>
  </div>

  <div class="store-intro">
    <p>

    </p>
  </div>


  <div class="store-section">
    <h2>店舗情報</h2>
    <dl>
      <dt>店舗名</dt>
      <dd>沖縄ポーカー BAR ガットショット</dd>
      <dt>所在地</dt>
      <dd>〒905-0021 沖縄県名護市東江１丁目１０−３０</dd>
      <dt>営業時間</dt>
      <dd></dd>
    </dl>
  </div>

  <div class="store-links">
    <h2>関連リンク</h2>
    <ul>
      <li><a href="https://www.instagram.com/poker_bar_gutshot?utm_source=ig_web_button_share_sheet&igsh=MTI1bXlzOGppbnhuYg==" target="_blank" rel="noopener">公式Instagram</a></li>
      <li><a href="https://maps.app.goo.gl/5425S1uqxK3uaSMR7" target="_blank" rel="noopener">Googleマップで見る</a></li>
    </ul>
  </div>

</section>

<Footer />
<script src="/js/header.js" type="module"></script>
