---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import InterstitialAd from "../../components/InterstitialAd.astro";
import AdSection1 from "../../components/AdSection1.astro";
import AdSection2 from "../../components/AdSection2.astro";
import AdSection3 from "../../components/AdSection3.astro";
import AdSection4 from "../../components/AdSection4.astro";
import AdSection5 from "../../components/AdSection5.astro";
import AdSection6 from "../../components/AdSection6.astro";
import AdSection7 from "../../components/AdSection7.astro";
import AdSection8 from "../../components/AdSection8.astro";

import "../../styles/stores.css";
---

<!doctype html>
<html lang="ja"></html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4PCMT7BZB"
  ></script>
  <script>
    // @ts-ignore
    window.dataLayer = window.dataLayer || [];
    // @ts-ignore
    function gtag() {
      // @ts-ignore
      dataLayer.push(arguments);
    }
    // @ts-ignore
    gtag("js", new Date());
    // @ts-ignore
    gtag("config", "G-N4PCMT7BZB");
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
    rel="stylesheet"
  />
  <title>OKIPOKA|TheHand</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<Header />
<InterstitialAd />

<section class="store-detail" style="max-width: 720px; margin: 0 auto;">
  <div class="store-header center-align">
    <h2>Hand(ハンド)</h2><br />
    <img src="/images/hand.png" class="store-image" />
  </div>

  <div class="store-note">
    <p>※このページの詳細情報は後ほど追加されます。お楽しみに！</p>
  </div>

  <div class="store-intro">
    <p></p>
  </div>

  <div class="store-section">
    <h2>店舗情報</h2>
    <dl>
      <dt>店舗名</dt>
      <dd>TheHand</dd>
      <dt>所在地</dt>
      <dd>〒901-1303 沖縄県島尻郡与那原町与那原２９９９−１ 1番館2階</dd>
      <dt>営業時間</dt>
      <dd>12:00〜24:00</dd>
    </dl>
  </div>

  <div class="store-links">
    <h2>関連リンク</h2>
    <ul>
      <li>
        <a
          href="https://www.instagram.com/thehand2025?utm_source=ig_web_button_share_sheet&igsh=NTVtOHc1NzF5amwy"
          target="_blank"
          rel="noopener">公式Instagram</a>
      </li>
      <li>
        <a
          href="https://maps.app.goo.gl/22YrYjrRVNNVTtqWA"
          target="_blank"
          rel="noopener">Googleマップで見る</a>
      </li>
    </ul>
  </div>
</section>

<Footer />
<script src="/js/header.js" type="module"></script>
