---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/stores.css";
---

<!doctype html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"
        rel="stylesheet"
    />
    <title>OKIPOKA|UnderTheGun</title>
</head>

<Header />

<section class="store-detail">
  <div class="store-header">
    <h2>UnderTheGun<br>（アンダーザガン）</h2><br>
    <img src="/images/underthegun.jpg" class="store-image" />
  </div>

    <div class="store-note">
    <p>※このページの詳細情報は後ほど追加されます。お楽しみに！</p>
  </div>

  <div class="store-intro">
    <p>

    </p>
  </div>


  <div class="store-section">
    <h2>店舗情報</h2>
    <dl>
      <dt>店舗名</dt>
      <dd>UnderTheGun</dd>
      <dt>所在地</dt>
      <dd>〒900-0032 沖縄県那覇市松山１丁目１２−１９ グレープハウスビル 2F</dd>
      <dt>営業時間</dt>
      <dd>21:00〜12:00</dd>
    </dl>
  </div>

  <div class="store-links">
    <h2>関連リンク</h2>
    <ul>
      <li><a href="https://www.instagram.com/underthegun0928?utm_source=ig_web_button_share_sheet&igsh=Yjh2bGFzbGVnb3Y0" target="_blank" rel="noopener">公式Instagram</a></li>
      <li><a href="https://maps.app.goo.gl/q6c5wZRWNKAZqRTo9" target="_blank" rel="noopener">Googleマップで見る</a></li>
    </ul>
  </div>

</section>

<Footer />
<script src="/js/header.js" type="module"></script>
