---
import Header from "../../components/Header.astro";
import "../../styles/header_footer.css";
---

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>店舗ダッシュボード | OKIPOKA</title>
    </head>
    <body>
        <Header />
        <main class="dashboard-page">
            <h2>トーナメント情報投稿</h2>
            <p id="welcome-msg"></p>

            <form id="tournament-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="event-name"
                        ><strong>タイトル(必須)</strong></label
                    >
                    <input type="text" id="event-name" required />
                </div>
                <div class="form-group">
                    <label for="start-time"
                        ><strong>開始時間(必須)</strong></label
                    >
                    <input type="time" id="start-time" required />
                </div>
                <div class="form-group">
                    <label for="buy-in"><strong>参加費¥</strong></label>
                    <input type="text" id="buy-in" required />
                </div>
                <div class="form-group">
                    <label for="addon"><strong>アドオン（任意）¥</strong></label
                    >
                    <input type="text" id="addon" placeholder="なし" />
                </div>
                <div class="form-group">
                    <label for="prize"><strong>プライズ</strong></label>
                    <input type="text" id="prize" />
                </div>
                <div class="form-group">
                    <label for="stack"><strong>スタック数</strong></label>
                    <input type="text" id="stack" required />
                </div>
                <div class="form-group">
                  <label for="note"><strong>備考（任意）</strong></label>
                  <textarea id="note" rows="2"></textarea>
                </div>
                <button type="submit">投稿する</button>
            </form>

            <button id="logout-btn">ログアウト</button>
        </main>
        <script src="/js/dashboard.js" type="module"></script>
        <script src="/js/header.js" type="module"></script>
    </body>
</html>
